cache/
saves/
screenshots/
trees/
mods/
logs/
local/
downloads/
crash-reports/
backups/
dumps/
emojiful/
resourcepacks/
tconplanner/
global_data_packs/
global_resource_packs/
usercache.json
usernamecache.json
TrashSlotSaveState.json
options.txt
minecraftinstance.json
patchouli_data.json
biomeidfixer.temp
minecraftinstance.json
